// Variables
@import 'variables';

@import '../assets/css/materialize.css';
@import '../assets/font-awesome/css/font-awesome.min.css';
@import '../assets/css/normalize.css';
@import '../assets/css/owl.carousel.css';
@import '../assets/css/owl.theme.css';
@import '../assets/css/owl.transitions.css';
@import '../assets/css/fakeLoader.css';
@import '../assets/css/magnific-popup.css';
@import '../assets/css/style.css';

.has-error{
    input{
        border: #e3342f solid 1px !important;
    }
    color: #e3342f;
    input[type=text].valid, input[type=text].valid{
        border-bottom: 1px solid #e3342f;
        box-shadow: 0 1px 0 0 #e3342f;
    }
}
